.Navbar_Container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.5rem 4rem;
  background-color: black;
  position: sticky;
  top: 0;
  z-index: 15;
  box-shadow: 0rem 0rem 0.7rem 0.1rem rgba(255, 255, 255, 0.086);
}
.Main_Logo {
  width: 15rem;
  object-fit: contain;
  object-position: center;
}

.Search {
  border: 2px solid rgb(255, 255, 255);
  color: rgb(255, 0, 0);
  width: 40rem;
  font-size: 2.4rem;
  line-height: 2.8rem;
  padding: 1rem 1rem;
  border-radius: 1.2rem;
  background-color: transparent;
  outline: none;
}
.Movie_Data_Container {
  margin-top: 1rem;
  position: absolute;
  width: 40rem;
  max-height: 20rem;
  background-color: rgb(0, 0, 0);
  border-radius: 1.2rem;
  overflow-y: auto;
  scrollbar-width: none;
  -ms-overflow-style: none;
  box-shadow: 0rem 0.4rem 0.7rem 0.1rem rgba(255, 255, 255, 0.086);
}
::-webkit-scrollbar.Movie_Data_Container {
  overflow: scroll;
  display: none;
  color: white;
}
.Search_Movie_Name {
  color: rgb(209, 209, 209);
  cursor: pointer;
  width: 40rem;
  font-size: 2.2rem;
  line-height: 2.8rem;
  padding: 1rem 0.8rem;
}

@media only screen and (max-width: 700px) {
  .Main_Logo {
    width: 12rem;
  }

  .Search,
  .Movie_Data_Container,
  .Search_Movie_Name {
    width: 35rem;
  }
  .Navbar_Container {
    padding: 1.5rem 3rem;
  }
}
