.Rows_Main_Container {
  padding: 0.5rem;
}
.loadingClass {
  width: 30rem;
  height: 20vh;
  background-color: rgb(53, 53, 53);
  animation: LoadingRows 1s infinite ease-in-out;
}
.Row__posters {
  display: flex;
  overflow: auto;
  padding: 1rem 2rem;
  cursor: pointer;
  width: auto;
  height: auto;
}

::-webkit-scrollbar {
  display: flex;
  overflow: scroll;
}
.row__poster {
  width: 30rem;
  object-fit: contain;
  object-position: top center;
  padding: 0.5rem;
  transition: transform 0.3s ease-in-out;
}
.row__poster:hover {
  transform: scale(1.08);
}
.row__posterLarge {
  width: 24rem;
  object-fit: cover;
  object-position: top center;
  transition: transform 0.3s ease-in-out;
}
.row__posterLarge:hover {
  transform: scale(1.06);
}
.Rows_Main_Title {
  color: white;
  font-size: 2.8rem;
  line-height: 3.2rem;
  margin: 1rem 2rem;
}
